#inner-content {

	.top-home {
		height: 90vh;
		position: relative;
		text-align: center;

		@include breakpoint(medium up){
			height: 65vh;
		}

		.page-title {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: $white;
			line-height: 60px;

			@include breakpoint(medium up){
				left: 0;
				top: 67%;
				transform: translateY(-50%);
				max-width: 50%;
				font-size: 55px;
			}
		}
	}

	.services-home {
		padding: 40px 20px;

		@include breakpoint(medium up){
			padding: 55px 60px;
		}

		h2 {
			color: $black;
			text-align: center;
			padding-bottom: 30px;
		}

		.services-slider {
			.service {
				&-title {
					padding-bottom: 5px;
					margin-bottom: 20px;
					border-bottom: 1px solid $black;
					padding-left: 5px;
					i {
						padding-right: 10px;
					}
				}

				&-content {
					padding-left: 5px;

				}
			}
		}
	}

	.values-home {
		padding: 40px 20px;
		background-color: $accent-brown;
		text-align: center;

		@include breakpoint(medium up){
			padding: 55px 60px;
		}

		h2 {
			color: $main-green;
			padding-bottom: 30px;

			@include breakpoint(medium up){
				padding-bottom: 50px;
			}
		}

		.values-row {
			@include grid-row();
			.value {
				@include grid-column(12);
				padding-bottom: 30px;

				@include breakpoint(medium up){
					@include grid-column(4);
				}

				h3 {
					padding-bottom: 15px;
					font-size: 30px;
					color: $main-green;
					font-weight: bold;
					text-transform: uppercase;

					@include breakpoint(medium up){
						font-size: 23px;
					}
					
				}

				i {
					padding-bottom: 30px;
					font-size: 60px;	
				}

				p {
					padding-bottom: 20px;
				}
			}
		}
	}

	.bot-home {
		padding: 40px 20px;

		@include breakpoint(medium up){
			padding: 55px 60px;
		}

		.bot-row {
			@include grid-row();

			.bot-col {
				@include grid-column(12);

				@include breakpoint(medium up){
					@include grid-column(8);
					@include grid-column-offset(2);
				}
			}
		}

		.gform_wrapper .gsection .gfield_label, .gform_wrapper h2.gsection_title, .gform_wrapper h3.gform_title {
			font-size: 35px;
			text-align: center;
			letter-spacing: 2px!important;
			font-weight: 500;
		}

		.gform_wrapper .top_label .gfield_label {
			font-size: 15px;
			letter-spacing: 2px;
		}

		.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit], .gform_wrapper .gform_page_footer input.button, .gform_wrapper .gform_page_footer input[type=submit] {
			font-size: 20px;
			background-color: $main-green;
			letter-spacing: 2px;
			font-family: $header-font-family;
			text-transform: uppercase;

			&:hover {
				background-color: $hov-green;
			}
		}

		.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]){
			width: 100%;
		}

	}
}

.slick-dots {
	margin-left: 0px;
	text-align: center;

	li {
		display: inline-block;

		button {
			content: ' ';
			height: 20px;
			width: 20px;
			border-radius: 12px;
			background-color: #ececec;
			//border: 2px solid #bdbdbd;
			margin-left: 5px;
			margin-right: 5px;
			color: #ececec;

			&:hover {
				background-color: $main-green;
				color: $main-green;
			}

			&:focus {
				outline: none;
			}
		}

		&.slick-active {
			button {
				background-color: $main-green;
				color: $main-green;

			}
		}
	}
}