.pb {

	padding-top: 30px;
	padding-bottom: 30px;
	@include breakpoint(medium up) {
		padding-top: 45px;
		padding-bottom: 45px;
	}
	@include breakpoint(large up) {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	&.pb-basic_content {
		
	}

	&.pb-full_width_call_to_action {
		background-size: cover;
		background-position: center center;
		&.light {
			color: $white;
			.button.hollow {
				color: $white;
			}
		}
		&.dark {
			color: $black;
			.button.hollow {
				color: $black;
			}
		}
	}

	&.pb-image_block {
		
	}

	&.pb-gallery {
		.pb-gallery-single .columns {
			padding-left: 50px;
			padding-right: 50px;
			img {
				display: block;
				margin-left: auto;
				margin-right: auto;
			}
		}
		.pb-gallery-thumbnails {
			text-align: center;
			.thumbnail {
				display: inline-block;
				margin: 4px;
				width: 60px;
				height: 60px;
			}
		}
	}

}